<p-card class="footer-card">
  <div class="grid">
    <div class="col-12 md:col-3 flex flex-column gap-5" >
      <h4><img src="./asserts/SkinClinic.svg"></h4>
      <p style="margin-top:20px">400 University Drive Suite 200 Coral<br> Gables,
FL 33134 USA.</p>
    </div>

    <div class="col-12  md:col-3 flex flex-column gap-5">
      <h4>Links</h4>
      <ul class="list-none p-0 flex flex-column gap-5">
        <li>Home</li>
        <li>Shop</li>
        <li>Contact</li>
      </ul>
    </div>

    <div class="col-12 md:col-3 flex flex-column gap-5">
      <h4>Help</h4>
       <ul class="list-none p-0 flex flex-column gap-5" >
        <li>Payment Options</li>
        <li>Returns</li>
        <li>Privacy Policy</li>
       </ul>
    </div>
    <div class="col-12 md:col-3 flex flex-column gap-5">  
        <h4>News Letter</h4>
        <ul class="list-none">

            <li>
                Subscribe
            </li>
        </ul>
    </div>
  </div>

  <p-divider>

  </p-divider>
  2025 Debasis.All rights reserved
</p-card>
