<div class="card">
    <p-toolbar>
        <ng-template #start >
            <a [routerLink]="['/home']" class="row link-reset"
>

                <img src="./asserts/Meubel House_Logos-05.svg">
                <img src="./asserts/SkinClinic.svg">
            </a>


        </ng-template>
        <ng-template #start>
  <div
    class="row cursor-pointer"
    [routerLink]="['/home']"
  >
    <img src="./asserts/Meubel House_Logos-05.svg">
                <img src="./asserts/SkinClinic.svg">
  </div>
</ng-template>

<ng-template #center>
  @for (data of pCategories(); track data) {
    <p-button
      [label]="data | titlecase"
      text
      plain
      [routerLink]="['/products']"
      [queryParams]="{ category: data }"
    />
  }
</ng-template>

        <ng-template #end>
            <div class="icon-group">

                <span class="pi pi-user"></span>
                <span class="pi pi-search"></span>
    <i class="pi pi-heart"></i>
    <i class="pi pi-shopping-cart"></i>
            </div>
        </ng-template>
    </p-toolbar>
</div>
