<div class="card">
    <p-toolbar>
        <ng-template #start>
            <img src="./asserts/Meubel House_Logos-05.svg">
            <img src="./asserts/SkinClinic.svg">

        </ng-template>
        <ng-template #center>
            <p-button label="Home" text plain />
    <p-button label="Shop" text plain />
    <p-button label="About" text plain />
    <p-button label="Contact" text plain />
           
        </ng-template>
        <ng-template #end>
            <div class="icon-group">

                <span class="pi pi-user"></span>
                <span class="pi pi-search"></span>
    <i class="pi pi-heart"></i>
    <i class="pi pi-shopping-cart"></i>
            </div>
        </ng-template>
    </p-toolbar>
</div>
